
# This is the ssh client per-user configuration file.
# See ssh_config(5) for more information.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host *git*
	User git

#Host *
#	ProxyCommand nc -x localhost %h %p
