# This is the ssh client per-user configuration file.
# See ssh_config(5) for more information.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host _gateway openwrt openwrt.lan 172.* 192.168.*
	User root
	ProxyCommand none

Host aur aur.archlinux.org
	HostName aur.archlinux.org
	User aur
	IdentityFile ~/.ssh/git

Host git* bitbucket.org ssh.dev.azure.com
	User git
	IdentityFile ~/.ssh/git
	ClearAllForwardings yes
	ControlPath none

Host *
	PreferredAuthentications publickey,keyboard-interactive,password,hostbased,gssapi-with-mic
	# Fail early for unreachable target
	ConnectTimeout 30
	# Reuse connection, speed up things, prompt password only once
	# https://ldpreload.com/blog/ssh-control
	#ControlMaster auto
	# Note: ControlPath needs to be < 108 bytes
	#ControlPath ~/.ssh/.control-%C
	#ControlPersist 300
	# rmate
	#RemoteForward 52698 localhost:52698
	# Keep connections alive
	ServerAliveInterval 5
	ServerAliveCountMax 3
	# SOCKS5 proxy (port 1080 by default)
#	ProxyCommand nc -x localhost %h %p
	# SOCKS4 proxy (port 1080 by default)
#	ProxyCommand nc -X 4 -x localhost:1080 %h %p
	# HTTP/HTTPS proxy (port 3128 by default)
#	ProxyCommand nc -X connect -x proxy.example.com:80 %h %p

# vim:ft=sshconfig:
