[submodule "bash/colorschemes/flat-ui-mintty"]
	path = bash/colorschemes/flat-ui-mintty
	url = https://github.com/geekjuice/flat-ui-mintty.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/vim-better-whitespace"]
	path = vim/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/bx_vimim_dict"]
	path = vim/.vim/bundle/bx_vimim_dict
	url = https://github.com/idxuanjun/bx_vimim_dict.git
